{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head id="{{ token|default:'no_token' }}">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	 <title>{% block title %}Kit-AOS{% endblock title %}</title>
  	 <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  	 <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="keywords" content="AOS"/>
	<meta name="description" content=""/>
	<meta charset="UTF-8"/>
    {% block stylesheets %}
		<link type="text/css" rel="stylesheet" href="/static/styles/timetable.css"/>
    	{% block stylesheets2 %}{% endblock stylesheets2 %}
    {% endblock stylesheets %}
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
{% block common_header %}
<header>
	<span>KitAOS 2012</span>
	<nav>
		<ul class='mainMenu'>
			<li><a id="aInfo" href="http://aos2012.agile-spain.org">Info</a></li>
			{% block linkToTheOthersPages %}{% endblock linkToTheOthersPages %}
		</ul>
	</nav>
</header>

{% endblock common_header %}

{% block global_content %}
{% endblock global_content %}

{% block scripts %}
<script type="text/javascript" src="/static/scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.sha1.js"></script>
<script type="text/javascript" src="/static/scripts/login.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
{% endblock scripts %}
{% block scripts2 %}{% endblock scripts2 %}
	
</body>	
</html>