<link rel="stylesheet" type="text/css" href="/static/styles/timetable.css" />


    <form method="POST" action="{{ action }}"> 
    <table>
    {{ form }}
    <tr><td><input type="submit" value="Guardar" onclick="$(this).closest('form').submit();  return false;"></td></tr> 
    </table>
    </form>

<script type="text/javascript" src="/static/scripts/jquery.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.validate.min.js"></script>

<script type="text/javascript">
	<!--
	$().ready(function() {
		$('form').validate({
			rules: {
				'email': {
					required:true,
					email:true
				},
				first_name:{
					required:true
				}
			},
		   messages: {
		     'email': {
		       required: 'Obligatorio',
		       email: 'Formato de email incorrecto'
		     },
		     first_name: {
		     	required: 'Obligatorio'
		     }
		   },
		   debug: true

		});
	});
	// -->
</script>
