{% extends "includes/base.html" %}{% load i18n %}

{% block title %}frogtek - ingrese a su cuenta{% endblock %}
{% block separator %}<img src="/static/images/red-separator.png" alt="Red Separator" />{% endblock separator %} 
{% block menu %}
{% endblock menu %}

{% block common_header %}
AOS 2011
{% endblock common_header %}


{% block global_content %}
<div class="form">
		<form name="loginForm" method="POST">
			<ul>
				<li>
					<h3><label for="text">Usuario</label></h3>
					
					<div class="input">
						<input type="text" maxlength="40" id="text" name="user_id"  />	
					</div>
					
				</li>
				<li>
					<h3><label for="password">Password</label></h3>
					
					<div class="input">
						<input type="password" maxlength="40" id="password" name="passphrase"  />	
					</div>
				</li>
				&nbsp;
				<div class="submit">
					<input id="inputLogin" type="submit" value="Entrar" onclick="logger.login(event); return false;"/>	
				</div>
				&nbsp;
				<div class="error_message"id="login_form_status"></div>
			</ul>
			
		</form>	
		<a href="#" class="logo1"></a>
	</div><!-- end of form -->
{% endblock global_content %}
