{% extends "includes/base_user.html" %}{% load i18n %}

{% block linkToTheOthersPages %}
<li><a id="aNews" href="/">Charlas</a></li>
{% endblock linkToTheOthersPages %}

{% block stylesheets2 %}
<link href="/static/styles/base.css" type="text/css" rel="stylesheet">
{% endblock stylesheets2 %}
{% block scripts2 %}
<script type="text/javascript">
	$(document).ready(function() { 
		var $winwidth = $(window).width();
		$("img.sourceImage").attr({
			width: $winwidth
		});
		$(window).bind("resize", function(){ 
			var $winwidth = $(window).width();
			$("img.sourceImage").attr({
				width: $winwidth
			});
		 });
	}); 
</script>
{% endblock scripts2 %}

{% block global_content %}
<section id="wrapper" style="overflow-x: hidden; overflow-y: hidden; ">
	<article id="list" class="scroller" style="-webkit-transition-property: -webkit-transform; -webkit-transform-origin-x: 0px; -webkit-transform-origin-y: 0px; -webkit-transition-duration: 0ms; -webkit-transform: translate3d(0px, 0px, 0px) scale(1); ">            
		<a href="/static/img/planoAOS2012.png"><img class="sourceImage" src='/static/img/planoAOS2012.png'></a>
	</article>
</section>
{% endblock global_content%}

