{% extends "includes/base_user.html" %}

{% block linkToTheOthersPages %}
<li><a id="aAgenda" href="/timetable/user/">Panel</a></li>
<li><a id="aMap" href="/map">Mapa</a></li>
{% endblock linkToTheOthersPages %}

{% block scripts2 %}
<script type="text/javascript" src="/static/scripts/iscroll.js"></script>
<script type="text/javascript">

var myScroll;
function loaded() {
	myScroll = new iScroll('wrapper');
}

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

/* * * * * * * *
 *
 * Use this for high compatibility (iDevice + Android)
 *
 */
document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);

/* * * * * * * *
 *
 * Use this for iDevice only
 *
 */
//document.addEventListener('DOMContentLoaded', loaded, false);
/*
 * * * * * * * */


/* * * * * * * *
 *
 * Use this if nothing else works
 *
 */
//window.addEventListener('load', setTimeout(function () { loaded(); }, 200), false);
/*
 * * * * * * * */

document.getElementById("aInfo").onclick=function(){
	ocultarVistas();
	mostrarVista("info");
};
function ocultarVistas(){
	
}

function mostrarVista(){

}
</script>
{% endblock scripts2 %}

{% block global_content %}
	<ul id="thelist">
			{% for row in rows %}
			<ul>
				<li class="hour">{{ row.hour }}h</li>
				{% for talk in row.talks_by_room %}
					 {% if talk.title %}
						<li class="rowCentered" id="{{ talk.title }}">
							<label>{{ talk.room.name }}</label>
							<span>{{ talk.title }}</span><br />
							{% if talk.speaker %}
							<div class="speaker">
								{% if talk.speaker.twitter_id %}
				      			 	<img src='attendant/avatar?email={{ talk.speaker.email }}' /> 
				      			{% else%}
				      			 	<img src='static/img/no-user.png' />
				                {% endif %}
				                 <span class="speaker-name">{{talk.speaker}}</span>
				            </div>
				            {% endif %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	</article>
	
	<article id="info" class="scroller">
		INFO
{% endblock global_content %}