{% extends "includes/base_user.html" %}

{% block linkToTheOthersPages %}
<li><a id="aMap" href="/map">Mapa</a></li>
{% endblock linkToTheOthersPages %}

{% block scripts2 %}
<script type="text/javascript" src="/static/scripts/iscroll.js"></script>
<script type="text/javascript">

var myScroll;
function loaded() {
	myScroll = new iScroll('wrapper');
}

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

/* * * * * * * *
 *
 * Use this for high compatibility (iDevice + Android)
 *
 */
document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);

/* * * * * * * *
 *
 * Use this for iDevice only
 *
 */
//document.addEventListener('DOMContentLoaded', loaded, false);
/*
 * * * * * * * */


/* * * * * * * *
 *
 * Use this if nothing else works
 *
 */
//window.addEventListener('load', setTimeout(function () { loaded(); }, 200), false);
/*
 * * * * * * * */

document.getElementById("aInfo").onclick=function(){
	ocultarVistas();
	mostrarVista("info");
};
function ocultarVistas(){
	
}

function mostrarVista(){

}
</script>
{% endblock scripts2 %}

{% block global_content %}
<section id="wrapper" style="overflow-x: hidden; overflow-y: hidden; ">
	<article id="list" class="scroller" style="-webkit-transition-property: -webkit-transform; -webkit-transform-origin-x: 0px; -webkit-transform-origin-y: 0px; -webkit-transition-duration: 0ms; -webkit-transform: translate3d(0px, 0px, 0px) scale(1); ">            
	<ul id="thelist">
			{% for row in rows %}
			<ul>
				<li class="hour">{{ row.hour }}h</li>
				{% for talk in row.talks_by_room %}
					 {% if talk.title %}
					    <li class="rowCentered talk" id="{{ talk.title }}">
							<label>{{ talk.title }}</label>
							<span>{{ talk.room.name }}</span><br />
							{% if talk.speaker %}							
							<div class="speaker">
								{% if talk.speaker.twitter_id %}
				      			 	<img src='attendant/avatar?email={{ talk.speaker.email }}' /> 
				      			{% else%}
				      			 	<img src='static/img/no-user.png' />
				                {% endif %}
				                 <span class="speaker-name">{{talk.speaker}}</span>
				            </div>
				            {% endif %}
				            {% if talk.description %}
					            <a href="javascript:void(0)" onclick="$('#info-{{talk.contador}}').slideToggle()" class="info-link">Mostrar información</a>
					            <p id="info-{{talk.contador}}" class="description" style="display:none">{{talk.description}}</p>
					        {% endif %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	</article>
	
	<article id="info" class="scroller">
		INFO
	</article>
</section>
{% endblock global_content %}