{% extends "includes/base.html" %}{% load i18n %}

{% block stylesheets2 %}
<link rel="stylesheet" type="text/css" href="/static/styles/timetable.css" />
{% endblock stylesheets2 %}

{% block scripts2 %}
<script type="text/javascript" src="/static/src/Timetable.js"></script>
<script type="text/javascript">
var timetable = new Timetable();
</script>
{% endblock scripts2 %}

{% block global_content %}
<table id="board">
<tr>
<td>Horario</td>
{% for room in rooms%}
    <td>{{ room.name }}</td>
{% endfor %}
</tr>

{% for row in rows %}
<tr>
<td id="hour" >
    {{ row.hour }}h
</td>
    {% for talk in row.talks_by_room %}
            <td id={{ talk.title }} >
                    {% if talk.title %}
                        {{ talk.title }} <br>
                        {% if talk.speaker %}
                            {{talk.speaker}} <br>
                        {% endif %}
                        {% if talk.speaker.twitter_id %}
                            <div>
                                <img src='attendant/avatar?email={{ talk.speaker.email }}'></img>
                            </div>
                        {% endif %}
                        {% if user.can_edit %}
                            <a class="talk-details" href="/talk/{{ talk.key.id }} " onclick="timetable.addTalk(this,'#talk'); return false;">Editar</a> <br>
                        {% endif %}
                    {% else %}
                        {% if user.is_admin %}
                            <a class="talk-details" href="/talk/new/{{ row.session }}/{{ forloop.counter }}/" onclick="timetable.addTalk(this,'#talk'); return false;">Crear</a>
                        {% endif %}

                    {%endif%}
            </td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<div id="talk" >

</div>
{% endblock global_content%}

