div {
    font-family:"Courier";
}

.main_background {
    background-image:url(/images/errors/server_error.png);
    background-repeat:no-repeat;
    background-position:center top;
    text-align: center;
    width:800px;
    height:240px;
}
.content_background { 
	background-image:url(/images/errors/server_error_content.png);
	background-repeat:no-repeat;
    position:absolute;
    left:200px;
    top:250px;    
    height:340px;
    width:736px;
    color: white;
    padding: 5px;
}

.contact {
    font-size: 20px;
    padding-left: 100px;
}

.orange_text {
    color: orange;
}
.green_text {
    color: #5A871D;
}

a:link {
    color: #5A871D; text-decoration: underline;
}

